* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #6799ff;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6799ff;
}

#courses:hover, #info:hover, .empty:hover {
  border-bottom: 1px solid #6799ff;
}
#nav-bar {
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

li {
  /* display: inline; */
}

.container {
  background-color: blue;
}

#sign-in {
  flex: 2;
  justify-content: flex-end;
}

svg {
  margin-left: 10px;
  align-self: center;
}

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px;
}

/* Add your CSS here */
/* @media (max-width: 720px) {
    .hamburger {
         display: initial; 
    } 
} */

 .hidden {
    display: none;
} 

 /* .icons .list-item {
    display: none;
}  */

li {
  list-style-type: none;
}

@media (max-width: 576px) {
  #nav-bar {
    display: none;
  }
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
  body {
    color: blue;
  }

}
