* {
  box-sizing: border-box;
}

body {
  margin: 0;
 /* margin-right: 10px;  */
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #6799ff;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6799ff;
}

#courses:hover, #info:hover, .empty:hover, .sign-in:hover {
  border-bottom: 1px solid #6799ff;
}

#nav-bar {
  width: 100%;
}

ul {
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
    display: flex;
    width: 330px;
}

.li {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

.courses, .info {
   background-color: gray;
   display: flex; 
   height: 400px;
   align-items: flex-end;
}

.sign-in {
    display: flex;
    /* background-color: pink; */
    flex:2;
    justify-content: flex-end;  
}

svg {
  margin-left: 10px;
  padding-right: 150px;
  align-self: center;
}

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px;
}

 .hidden {
    display: none;
} 

li {
  list-style-type: none;
}

@media (max-width: 576px) {
  #nav-bar {
    display: none;
  }
}

@media (min-width: 576px) {
  .hamburger {
    display: none;
  }
  body {
    color: blue;
  }

}

@media (min-width: 1200px) {
body {
    margin: 0 auto;
    width: 1200px;
}
}
