* {
  box-sizing: border-box;
}

body {
  margin: 0;
 /* margin-right: 10px;  */
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #6799ff;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgray;
}

a {
  text-decoration: none;
}

a:visited {
  color: #6799ff;
}

#courses:hover, #info:hover, .empty:hover, .sign-in-a:hover {
  border-bottom: 1px solid #6799ff;
}

#nav-bar {
  width: 100%;
}

ul {
  display: flex;
  flex-flow: row nowrap;
}

.navigation {
    display: flex;
    width: 320px;
}

.li {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
}

.border {
  border-bottom: 1px solid lightgray;
}

.icons {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}


.list-item {
  max-width: 100px;
  text-align: center;
  /* top: 100px; */
}

img {
  width: 100px;
  /* margin-right: 25px;; */
}

.sign-in {
    display: flex;
    margin-right: 10px;
    /* background-color: pink; */
    flex:2;
    justify-content: flex-end;  
}

svg {
  margin-left: 10px;
  padding-right: 150px;
  align-self: center;
}

.hamburger {
  width: 48px;
  height: 42px;
  border: 1px solid #eeeeef;
  border-radius: 2px;
  box-shadow: 0 0 2px #eeeeef;
  padding: 10px 10px;
}

.hamburger-stripe {
  background-color: #6799ff;
  height: 3px;
  margin-bottom: 5px;
}

 .hidden {
    display: none;
} 

li {
  list-style-type: none;
}

@media (max-width: 576px) {
  /* #nav-bar {
    display: none;
  } */
  body {
    display: flex;
    justify-content: flex-end;
  }
  .hamburger {
    order: 2;
  }
  svg {
    position: absolute;
    left: 0%;
  }
  img {
    display: none;
  }
  ul {
    display: flex;
    flex-flow: column nowrap;
  }
}

@media (min-width: 577px) {
  .hamburger {
    display: none;
  }
  body {
    color: blue;
  }
  .list-item {
    width: 33%
  }
  .icons {
   left: 10%;
   right: 10%;
  }
}

@media (min-width: 1200px) {
body {
    margin: 0 auto;
    width: 1200px;
}
}
